<div id="{{{this.id}}}" class="ind-comment">
  <p>{{description}}</p>
  <p class="posts-div">Created by {{this.user.name}} — {{format_date date_created}}</p>
  <div class="ind-comment-btn">
    <button><a href="/comments/{{id}}/edit" class="href" value="edit">edit</a></button>
    <button class="btn btn-danger" data-id="{{this.id}}" value="delete">delete</button>
  </div>
  
  <script src="/js/delete-ind-comment.js"></script>