<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span class="post-tag">{{tag}}</span>
  </p>
  <p>Leave a comment below.
  </p>
</div>
